<div class="container p-1 m-2" id="join_room__container">
    <div class="row">
        <div class="col-8 offset-4">
            <form>
                <h2>Join room</h2>
                <div id="join_room__errors" class="d-none"></div>
                <div class="form-group">
                    <label for="join_room__room_name">Room name</label>
                    <input type="text" class="form-control" id="join_room__room_name" placeholder="Enter room name"
                           value="RoomName01">
                    <small id="join_room__room_name_help" class="form-text text-muted">Choose name of already created
                        room.</small>
                </div>
                <div class="form-group">
                    <label for="join_room__player_username">Player name</label>
                    <input type="text" class="form-control" id="join_room__player_username"
                           placeholder="Enter your player username" value="Player02">
                </div>
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary" id="join_room__submit_button">Join room</button>
                </div>
            </form>
        </div>
    </div>
</div>