{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Adam Pertek">
    <meta name="description" content="Test Frontend App for apLudo">

    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>ApLudo - Test Frontend App</title>
</head>
<body>
<div class="alert alert-danger" role="alert">Open JavaScript console to see full output of the application.</div>

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">ApLudo</h1>
    <p class="lead">Test Frontend App</p>
</div>
<div class="text-center d-none" id="room_name__header">
    <h2 class="display-5">Room: <b id="room_name__title">Name of room</b></h2>
</div>

{% include 'partials/room_initialization/create_room__form.html' %}
{% include 'partials/room_initialization/join_room__form.html' %}

{% include 'partials/game/player_data.html' %}
{% include 'partials/game/game.html' %}
{% include 'partials/game/chat.html' %}

<script type="module" src="{% static 'js/app/App.js' %}"></script>
</body>
</html>