<div class="container d-none" id="chat__container">
    <div class="row p-3 m-3">
        <div class="col-12">
            <div class="form-group">
                <h3>Chat</h3>
                <textarea class="form-control"  id="chat__log" rows="3" readonly></textarea><br>
                <input type="text" class="form-control" id="chat__message_input" placeholder="Input your message..."><br>
                <input type="button" class="form-control" id="chat__send_button" value="Send">
            </div>
        </div>
    </div>
</div>