<div class="container p-1 m-2 d-none" id="player_data__container">
    <div class="row">
        <div class="col-8 offset-4 border border-dark rounded p-3">
            <h4>Session storage variables</h4>
            <table class="table" id="player_data__table">
                <thead>
                <tr>
                    <th scope="col">Variable name</th>
                    <th scope="col">Value</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">roomName</th>
                        <td id="player_data__value_room_name">--value--</td>
                    </tr>
                    <tr>
                        <th scope="row">playerUsername</th>
                        <td id="player_data__value_player_username">--value--</td>
                    </tr>
                    <tr>
                        <th scope="row">token</th>
                        <td id="player_data__value_token">--value--</td>
                    </tr>
                    <tr>
                        <th scope="row">isAdmin</th>
                        <td id="player_data__value_is_admin">--value--</td>
                    </tr>
                    <tr>
                        <th scope="row">isPlayer</th>
                        <td id="player_data__value_is_player">--value--</td>
                    </tr>
                    <tr>
                        <th scope="row">color</th>
                        <td id="player_data__value_color">--value--</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>